* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.ghostWhite {
    filter: invert(92%) sepia(66%) saturate(5848%) hue-rotate(180deg) brightness(107%) contrast(112%);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    color: #f8f8ff;
    background-color: #111b35;
}

.container-top>img {
    max-width: 100%;
    height: 55px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container-button-bkp,
.container-button-history {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 360px;
    margin: 5%;
    margin-top: 8.5%;
    box-shadow: 1px 1px 10px;
    cursor: pointer;
    background-size: cover;
}

footer {
    background-color: #111b35;
    color: aliceblue;
    text-align: center;
    padding: 2%;
}